<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- context begin ///////////////////////////////////////// -->
	<context-param>
		<param-name>page-size</param-name>
		<param-value>3</param-value>
	</context-param>
	<!-- context end ///////////////////////////////////////// -->
	<!-- filter begin ///////////////////////////////////////// -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>org.cn.pilot.drp.util.filter.CharsetEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
	<!-- filter end //////////////////////////////////////// -->
	<!-- session begin //////////////////////////////////////// -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- session end //////////////////////////////////////// -->
	<!-- servlet begin //////////////////////////////////////// -->
	<servlet>
		<servlet-name>ClientIdValidateServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.util.servlet.ClientIdValidateServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientIdValidateServlet</servlet-name>
		<url-pattern>/servlet/ClientIdValidateServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowAddItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.ShowAddItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAddItemServlet</servlet-name>
		<url-pattern>/servlet/item/ShowAddItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.AddItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItemServlet</servlet-name>
		<url-pattern>/servlet/item/AddItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.util.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SearchItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.SearchItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchItemServlet</servlet-name>
		<url-pattern>/servlet/item/SearchItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowModifyItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.ShowModifyItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowModifyItemServlet</servlet-name>
		<url-pattern>/servlet/item/ShowModifyItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifyItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.ModifyItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyItemServlet</servlet-name>
		<url-pattern>/servlet/item/ModifyItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteItemServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.basedata.web.DeleteItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteItemServlet</servlet-name>
		<url-pattern>/servlet/item/DeleteItemServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ValidateUserPasswordServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.util.servlet.ValidateUserPasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateUserPasswordServlet</servlet-name>
		<url-pattern>/servlet/sysmgr/ValidateUserPasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FiscalYearPeriodValidateServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.util.servlet.FiscalYearPeriodValidateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FiscalYearPeriodValidateServlet</servlet-name>
		<url-pattern>/servlet/basedata/FiscalYearPeriodValidateServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FlowCardServlet</servlet-name>
		<servlet-class>org.cn.pilot.drp.flowcard.web.FlowCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlowCardServlet</servlet-name>
		<url-pattern>/servlet/flowcard/FlowCardServlet</url-pattern>
	</servlet-mapping>

	<!-- servlet end //////////////////////////////////////// -->
	<!-- error begin //////////////////////////////////////// -->
<!--   
	<error-page>
		<error-code>404</error-code>
		<location>/http_error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/http_error.jsp</location>
	</error-page>
-->
	<error-page>
		<exception-type>org.cn.pilot.drp.util.ApplicationException</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<!-- error end //////////////////////////////////////// -->
</web-app>